[submodule "providers/sms-authenticator"]
	path = providers/sms-authenticator
	url = git@github.com:UKGovernmentBEIS/keycloak-sms-authenticator-sns.git
[submodule "govuk-theme"]
	path = govuk-theme
	url = https://github.com/UKGovernmentBEIS/keycloak-theme-govuk
